<div class="row">
  <div class="list-danhmuc-mb">
    <div class="text-danhmuc-mb">DANH MỤC</div>
    <div class="owl-danhmuc-mb">
        <div class="owl-item">
          <ul>
           <% for(var i=0;i<6;i++){ %>
            <li class="item-danhmuc-mb">
                <div class="image-item">
                    <img src="/assest/image/<%=danhmucall.danhmucs[i].image[0].originalname %>" alt="<%=danhmucall.danhmucs[i].alt %> ">
                </div>
                <div class="text-item">
                    <a href="/<%=danhmucall.danhmucs[i].link %>"><%=danhmucall.danhmucs[i].name %></a>
                </div>
            </li>
            <% } %>
          </ul>
        </div>

    </div>

  </div>
</div>
